body {
    font-family: Arial, sans-serif;
    background-color: #2279746c;
    color: #061150;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #f4f5fc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px;
    text-align: center;
    font-size: 17.5px;
}
.question {
    font-size: 1.2em;
    margin: 20px 0;
}
.options {
    display: grid;
    gap: 03px;
}
.option {
    background: #034b97;
    color: #f0fffd;
    padding: 17px 1px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
}
.option:hover {
    background: #063d77;
    padding: 14.5px 1px;
    color: #cdfff8;
}
.result {
    font-size: 1.2em;
    margin: 20px 0 10px 0;
}

.resultado{
    background-color: #e2f9fa;
    margin: 20px;
    padding: 5px ;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#restart-button{
    margin-top: 10px;
}

.timer {
    font-size: 1em;
    margin: 10px 0;
    color: #1a1b5f;
    background-color: #caddf7;
    border-radius: 20px;
}
.start-screen, .question-screen, .result-screen {
    display: none;
}
.active {
    display: block;
}