body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #000224e0;
    color: #c3fffc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #050018;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(109, 217, 236, 0.479);
    padding: 20px;
    max-width: 500px;
    text-align: center;
    font-size: 17.5px;
}

#start-button{
    background-color: #c3fffc;
    color: #031024;
    padding: 5.5px 11.5px;
    border: none;
    border-radius: 8px;
    font-size: 15.5px;
    margin-top: 17.5px;
}

#start-button:hover{
    background-color: #034b97;
    color: #c3fffc;
    padding: 7px 14px;
    font-size: 15.7px;
    cursor: pointer;
}

#participant-name{
    background-color: #063d77;
    color: #c3fffc;
    border: none;
    border-radius: 4px;
    padding: 8.5px 27px;
}

#participant-name::placeholder{
    color: #e6fffe;
}


.container h1{
    color: aliceblue;
}

.container i{
    color: #20fdfd;
}

.container a{
    color: #20fdfd;
}

.question {
    font-size: 1.2em;
    margin: 20px 0;
}
.options {
    display: grid;
    gap: 03px;
}
.option {
    background: #034b97;
    color: #f0fffd;
    padding: 17px 1px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
}
.option:hover {
    background: #063d77;
    padding: 14.5px 1px;
    color: #cdfff8;
}
.result {
    font-size: 1.2em;
    margin: 20px 0 10px 0;
}

.resultado{
    background-color: #1f2757;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#restart-button{
    margin-top: 10px;
}

.timer {
    font-size: 1em;
    margin: 10px 0;
    color: #fff4f4;
    background-color: #071d3d;
    border-radius: 20px;
}
.start-screen, .question-screen, .result-screen {
    display: none;
}
.active {
    display: block;
}